body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body > div{
    flex: 1;
}

#frame{
    flex: 1.3;
    display: flex;
    justify-content: center;
}

._leftBox{
    width: 15%; 
    display: flex;
    border: 1.5px solid black;
    border-radius: 14px  0 0 14px;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
}

._rightBox{
    display: flex;
    flex-direction: column;
    width: 30%; 
    border: 1.5px solid black;
    border-radius: 0 14px  14px 0; 
}

#Airov{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items:flex-end;
}

#Empty{
    flex:0.2;
}

#Container{
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    flex: 1;
    align-items: center;
}

#AdminCode{
    border:1px solid black;
    border-radius: 5px;
    height: 36px;
    width: 300px;
    text-align: center;
}
#OK{
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    width: 306px;
    text-align: center;
    margin:5px;
}

button{
    background-color: white;
}

._notthing{
    flex:0.2;

}
